<button
  mat-icon-button
  type="button"
  [matMenuTriggerFor]="langMenu"
  [attr.aria-label]="'layout.languageMenu' | transloco"
  [attr.aria-haspopup]="true"
  class="language-switcher__trigger shrink-0"
>
  <mat-icon>public</mat-icon>
</button>

<mat-menu #langMenu="matMenu" class="language-switcher__panel">
  @for (lang of languages; track lang.code) {
    <button
      mat-menu-item
      type="button"
      (click)="setLang(lang.code)"
      [class.language-switcher__item--active]="activeLang() === lang.code"
    >
      <span class="language-switcher__row">
        <span class="language-switcher__label">{{ lang.menuLabel }}</span>
        @if (activeLang() === lang.code) {
          <mat-icon class="language-switcher__check">check</mat-icon>
        }
      </span>
    </button>
  }
</mat-menu>
